/* Налаштування шрифту */
body {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  background: #ECECEC;
}




::-moz-selection { /* Code for Firefox */
  color: white;
  background: #539fc5;
}

::selection {
    color: white;
  background: #539fc5;
}



a.five:link {
    color: #539fc5;
    text-decoration: none;
}

a.five:visited {
    color: #539fc5;
    text-decoration: none;
}

a.five:hover {
  background:#5DADE2;
  color:#fff;
}
span.five {
  background:#5DADE2;
  color:#000;
}
b span { 
    background-color: rgba(0, 0, 0, 0.1);
}





code {
    background-color: #2f3237;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}




/* Стилізація спойлерів */
details {
  background-color: #E1E1E1;
  color: #444;
  cursor: default;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
  outline: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  user-select: none
}

summary {
  font-weight: bold;
  cursor: pointer;
  user-select: none
}

details[open] {
  background-color: #ddd;
}

/* Сховання вмісту */
details > *:not(summary) {

}

/* Показ вмісту при розгортанні */
details[open] > *:not(summary) {
    margin-top: 20px;

}


b {
  display: inline;
}

hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: #666666;
  margin: 20px 0;
}



/* Додаткові стилі для кращого відображення */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            user-select: none
        }
footer span {
  color: #fff;
  text-align: center;
  user-select: none
}



/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}